@tailwind base;
@tailwind components;
@tailwind utilities;


#__plasmo {
  height: 100vh;
  overflow: hidden;
}

@layer utilities {
  .center {
    @apply flex justify-center items-center;
  }

  .no-after::after {
    content: none;
  }

  .text-ellipsis {
    @apply overflow-hidden whitespace-nowrap;
    text-overflow: ellipsis;
  }

  .item-border {
    @apply border border-base-content/20 outline outline-2 outline-offset-2 outline-transparent hover:border-base-content/40;
  }

  .item-border-active {
    @apply !outline-base-content;
  }

}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}